<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @child.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @child.photo %>
</p>

<p>
  <strong>Last Picked:</strong>
  <%= @child.child_picks.first != nil ? @child.child_picks.first.picked.in_time_zone("Pacific Time (US & Canada)").strftime("%A %B %d: %l:%M %p %Z") : "" %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
